h1 {
  font-size: 34px;
}
p {
  font-size: 25px;
}

.ratingIcon {
  font-size: 2rem;
}
.rating-text {
  font-size: 2rem;
}
.ratingContainer {
  width: 10rem;
}

.offerIcon {
  font-size: 2rem;
}

.offerText {
  font-size: 2rem;
}

.profileIcon {
  font-size: 3rem;
}
