.commonImg {
  size: 750px;
  width: 750px;
}

.container {
  width: 750px;
  margin: 50px;
}

.profile {
  border-radius: 50%;
}

.profileSize {
  width: 150px;
  height: 150px;
}

.textOverlay {
  background: url(../../images/overlay.jpg);
  background-size: cover;
  height: 1000px;
  width: 1000px;
  /* background-repeat: no-repeat; */
}
