.commonImg {
  size: 550px;
  width: 550px;
}

.container {
  width: 550px;
  margin: 30px;
}

.profile {
  border-radius: 50%;
}

.profileSize {
  width: 100px;
  height: 100px;
}

.textOverlay {
  background: url(../../images/overlay.jpg);
  background-size: cover;
  height: 400px;
  width: 400px;
  /* background-repeat: no-repeat; */
}
